* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  background: rgb(54, 77, 204);
  background: linear-gradient(175deg, rgba(54, 77, 204, 1) 0%, rgba(242, 215, 217, 1) 71%);
  ;
  color: #c9bce7;
}